<div *ngIf="fileInput">

    <div *ngIf="isArray(fileInput)" id="array">
        <div *ngFor="let item of fileInput; let i = index">
            <label>Index {{ i }}</label>

            <div *ngIf="isObject(item) || isArray(item)" class="cart">
                <app-template [fileInput]="item"></app-template>
            </div>
            
            <div *ngIf="!isObject(item) && !isArray(item)" class="input">
                <input [(ngModel)]="fileInput[i]" />
            </div>
            
            <button [disabled]="">Save</button>
            
        </div>
    </div>

    <div *ngIf="isObject(fileInput)" id="object">
        <ng-container *ngFor="let key of objectKeys(fileInput)">
            <label>{{ key }}</label>

            <div *ngIf="isObject(fileInput[key]) || isArray(fileInput[key])">
                <app-template [fileInput]="fileInput[key]"></app-template>
            </div>

            <div *ngIf="!isObject(fileInput[key]) && !isArray(fileInput[key])">
                <input [(ngModel)]="fileInput[key]" />
            </div>
        </ng-container>
    </div>

</div>